@font-face {
  font-family: 'dingbats';
  font-style: normal;
  font-weight: normal;
  src: url('Tedxsanfrancisco_Speaker_Series.woff2') format('woff2');
}

.dingbat {
  font-family: 'dingbats';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:red;
  line-height:inherit;
  font-size:.9em;
}

.plr {
  padding-left: 4vw;
  padding-right: 4vw;
}

h2.dingbatify {
  font-size: 5.75vh;
}
